{% assign title_separator = site.title_separator | default: '-' | replace: '|', '&#124;' %}

{%- if page.title -%}
  {%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
{%- endif -%}

{%- if seo_title -%}
  {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
  {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once -%}
{%- endif -%}

{%- assign page_large_image = page.header.og_image | default: page.header.overlay_image | default: page.header.image -%}
{%- unless page_large_image contains '://' -%}
  {%- assign page_large_image = page_large_image | absolute_url -%}
{%- endunless -%}
{%- assign page_large_image = page_large_image | escape -%}

{%- assign page_teaser_image = page.header.teaser | default: site.og_image -%}
{%- unless page_teaser_image contains '://' -%}
  {%- assign page_teaser_image = page_teaser_image | absolute_url -%}
{%- endunless -%}
{%- assign page_teaser_image = page_teaser_image | escape -%}

{%- assign head_figcaption = page.header.caption | default: seo_title -%}


<!-- The title and subtitle shown in your Instant Article -->
        <h1>{{ seo_title }}</h1>
        <h2>{{ seo_description }}</h2>

{% if page.date %}
<!-- The date and time when your article was originally published -->
   <time class="op-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d %B %Y' }}</time>
{% endif %}

{% page.last_modified_at %}
<!-- The date and time when your article was last updated -->
        <time class="op-modified" dateTime="2014-12-11T04:44:16Z">December 11th, 4:44 PM</time>
{% endif %}       


<!-- The authors of your article -->
        <address>
          <a rel="facebook" href="{{ author.url }}">{{ author.name }}</a>
          {{ author.bio }}
        </address>

<!-- The cover image shown inside your article --> 
        <figure>
          <img src="{{ page_large_image | default: page_teaser_image | default: site.image }}" />
          <figcaption>{{ head_figcaption }}</figcaption>
        </figure>   

<!-- A kicker for your article --> 
        <h3 class="op-kicker">
          {{ seo_description }}
        </h3>
