---
layout: compress
---
<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
  <head>
    {% include head.html %}
  </head>
  <body>
<div id="fb-root></div>
    <article>
      <header>
        {% include header.html
      </header>

<!-- Article body goes here -->

<!-- Body text for your article -->

{{ content }}

<!-- A video within your article -->

{% include video %}

      <!-- An ad within your article -->
{% include ads %}

      <!-- Analytics code for your article -->
{% include analytics %}

      <footer>
{% include footer.html %}
      </footer>
    </article>
  </body>
</html>
